#c {
    margin: 0 auto;
    background-color: #fffae4;
    text-align: left;
    width: 50vw;
    border-style: solid;
    border-color: #9E8764;
    border-radius: 10px;
    font-size: x-large;
    height: 60vh;
    overflow: auto;
}
div {
    padding: 8px;
    color: #9E8764;
}
#click{
    background-color: #9E8764;
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 20px;
}
.code::after{
    content: "輸入條碼";
}
a{
    text-decoration: none;
    font-size: large;
    margin-left: 0.5vw;
}
.con {
    display: flex;
    justify-content: start;
    align-items: center;
}
#st_code::after{
    content: "店內條碼";
}
.inst_code::after{
    content: "店內條碼";
}
span{
    font-size: large;
}
#Barcode::after,#chinese::after,#kcal::after{
    font-size: large;
}
.btn_con{
    display: flex;
    justify-content: center;
}