
body{
    background: #e7cba5;
    margin: 0;
    background-image: url("../img/back.jpg");
    background-position: center;
    background-size: cover;
}
#icon{
    height: 60px;
}
#m{
    align-items:center ;
    margin-top: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    background: #9E8764;
    width: 100%;
 
    
}
#mm{
    margin-right: 20px;
}

.menu{
    margin: 0;
    padding: 0;
    ;
}

.logout{
    list-style: none;
    display:flex;
    justify-content: right;
}
.logout_link{
    text-decoration: none;
    color: #FFFAE4;
    font-size: 20px;
}
.item a{
    color: #FFFAE4;
    text-align: center;
    text-decoration: none;
    
}
.item {
    list-style-type: none;
    position: relative;
    float: left;
    margin-left: 2em;
    text-align: left;

}
.menu_text{
    font-size:30px;
}
.menu_text:hover{
    text-decoration: underline;
    color:rgb(45, 16, 212);
}
.menu_link{
    width: 200px;
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    font-size: 20px;
}
.menu_link:hover{
    background-color: rgb(240, 137, 214);
}
.menu_text:hover .item_block{
    display: block;
    z-index: 1;
}
.item_block{
    width: 300px;
    height: 100%;
    float: left;
    list-style: none;
    display: none;
    position: absolute;
    padding-left: 0;
}
.red{
    color: red;
}
.item_block a{
    color: #9E8600;
}
.left{
    float: left;
    width: calc(100% - 300px);
    word-wrap: break-word;
}


@media screen and (max-width: 1200px)  {

    #con{
        width:60%;
    }

}
@media screen and (max-width: 1400px)  {

    #con{
        width:55%;
    }

}

@media screen and (max-width: 900px)  {
    .menu{
        display:none;
    }
    #con{
        width:60%;
    }
    

}