.text_red{ /*必填*/
    color: red;
}

h2{/*標題*/
    color: #975C1D;
    text-align: center;

}

div:not(.small){ /*所有div*/
    padding: 8px;
    
}

#click{ /*新增條碼*/
    background-color: #9E8764;
    border: 0ch;
    padding: 10px;
    color: #ffffff;
}


select{
    background-color: #F4DCAC;
    cursor: pointer;
}

#con {
    margin: auto;
    margin-top: 1em;
    width: 50vw;
    height: 60vh;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
#c{
    font-size: x-large;
    margin: auto;
    background: #FFFAE4;
}

#c div .text_red{
    font-size: medium;
}
#click{
    background-color: #9E8764;
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-top: 1vw;
}

input:focus::-webkit-input-placeholder { 
    color:transparent; 
} 
input:focus:-moz-placeholder { 
    color:transparent; 
}
.inst_code::after{
    content: "店內條碼";
}
.code::after{
    content: "輸入條碼";
}
.introjs-tooltiptext{
    color: black;
}
a:not(.small_text,.introjs-button,.menu_text){
    text-decoration: none;
    font-size: large;
}
input:disabled{
    background: #f4dcac;;
    color: black;
}
div#c div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#click_con{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 840px)  {
    .text_red{
        display: block;
    }
}
@media screen and (max-width: 760px)  {
    

}
@media screen and (max-width: 680px)  {
    input{
        display: block;
    }
}