body{
    background-image: url('../img/back.jpg');
    background-size: cover;
}
#pass_con {
    width: 50vw;
    background-color: antiquewhite;
    margin: auto;
    height: 40vh;
    border-radius: 10px;
    border: 3px solid #9E8764;
}
h1{
    color: #975C1D;
    text-align: center;
    font-family: 'Mixed';
    font-size: 50px;
    line-height: 1;
}
#pass_con div {
    margin-top: 2vw;
    line-height: 1.5;
}
#emaid_fr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin: auto;

    overflow: auto;
}
#back{
    display: none;
    width: 45%;
    z-index: 1;
    margin: auto;
}

#note {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.9;
    box-shadow: -3px 3px 6px #000;
    padding: 1em 1em 2em 1em;
    width: 45%;
    position: absolute;
    top: 30%;
    margin: auto;
    }
#note button{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
    color: #FFFAE4;
    background-color: #9E8764;
    margin: 5px;
    font-size: large;
}
#note #text {
    background:#FFFAE4;
    position: relative;
    text-align: center;
    top: 1px;
    color: #FF9595;
    padding: 20px;
    margin: auto;
    letter-spacing: 3px;
    font-size: xx-large;
}
button{
    cursor: pointer;
}
/*
.left {
    text-align: right;
    float: left;
    width: calc(100% - 400px);
}
.right{
    float: right;
    width: 400px;
}
*/
#regmail {
    width: 30vw;
    height: 30px;
}
#newpass_fr{
    display: flex;
    justify-content: center;
}
button{
    padding: 0px 30px;
    border: none;
    border-radius: 2px;
    color: #9E8764;
    background-color: #F4DCAC;
    margin: 5px;
    font-size: x-large;
}
a{
    text-decoration: none;
    color: #000;
    font-size: x-large;
}
#re{
    font-size: x-large;
}
@media screen and (max-width: 1000px)  {
    #emaid_fr {
        width: 80%;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #regmail {
        width: 40vw;
    }
}
@media (max-height: 600px) {
    #pass_con{
        height: 300px;
    }
}

