#con{
    margin: auto;
    margin-top: 1em;
    width: 50vw;
    height: 60vh;
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius:10px ;
    margin-bottom: 10px;
    overflow: auto;
}
#ing,#st{
    list-style: none;
    padding-left: 0;
    overflow: auto;
    max-height: 20vh;
}
#s{
    margin-left:0.1em ;
}
#ing li,#st li{
    margin-bottom: 10px;
}

#st li{
    margin-left: 1vw;
}
img{

    max-width: 600px;
    max-height: 500px;
}
#recipe_insert{
    font-size: x-large;
    width: 95%;
    margin: auto;
}
#click_recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.ins_con{
    
    border: 2px dashed red;
}
.step_con{
    border: 2px dashed blue;
    margin-top: 1vw;
}

button:not(#go){
    background-color: #FFFAE4;
    color: #9E8764;
    border: 1px solid #9E8764;

    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
#go{
    background-color: #9E8764;
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    
    margin-top: 1vw;
}
.size{
    width: 100px;
}
.r2,.r4{
    margin-left: 0.5vw;
}
div#img {
    margin-bottom: 1vw;
}

.float_ins{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ins_le span.red,.ins_ri span.red{
    font-size: medium;
    display: block;
}
.red{
    font-size: medium;
}

#st li {
    display: flex;
    align-items: center;
    margin-left: 10vw;
}
@media screen and (max-width: 1500px){
    
    .ins_ri span.red, .ins_le span.red {
        display: block;
    }
    .float_ins div{
        margin-right: 1vw;
    }
}
@media screen and (max-width: 1320px)  {
    .ins_ri span.red, .ins_le span.red {
        display: block;
    }
    .r2{
        width: 60px;
    }
}
@media screen and (max-width: 1080px)  {
    .ins_ri input, .ins_le input {
        display: block;
    }
    .float_ins span{
        font-size: large;
    }
    .ins_le .red,.ins_ri .red{
        font-size: small;
    }

}