#ttt{
    margin-top: 1em;
    height: 35em;
    overflow: auto;
    background-color: rgba(249, 186, 122, 0.916);
    
}
#back{
    margin: auto;
    display: none;
    position: absolute;

    width: 100%;
    z-index: 1;
}

#note {
    color: #fff;
    background-color: rgb(73, 74, 75);
    opacity: 0.9;
    box-shadow: -3px 3px 6px #000;
    padding: 1em 1em 2em 1em;
    width: 97%;
    position: absolute;
    top: 12em;

    }
  
  #note #text {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1);
    position: relative;
    text-align: center;
    top: 1px;
    color: #d7666b;
    padding: 20px;
    margin: auto;
    border: 1px solid #d7666b;}
#note #title{
    text-align: right;
    
}
#note a{
    text-decoration: none;
    color: aqua;
}
  
