#ttt{
    margin-top: 1em;
    height: 35em;
    overflow: auto;
    border-top:1px solid black ;
}
#a1{
    margin: auto;
}

#back{
    display: none;
    width: 50%;
    z-index: 1;
    margin: auto;
}
#ttt::-webkit-scrollbar{
    display:none;
}
#note {
    color: #fff;
    background-color: rgb(73, 74, 75);
    opacity: 0.9;
    box-shadow: -3px 3px 6px #000;
    padding: 1em 1em 2em 1em;
    width: 50%;
    position: absolute;
    top: 12em;
    margin: auto;
    }
  
  #note #text {
    background: rgb(255, 255, 255);

    position: relative;
    text-align: center;
    top: 1px;
    color: #d7666b;
    padding: 20px;
    margin: auto;
    border: 1px solid #d7666b;}
#note #title{
    text-align: right;
    
}
#note a{
    text-decoration: none;
    color: aqua;
}
#con_frame{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFFAE4;
}  
.food_list{
    display: flow-root;
    padding: 10px 40px;
}
.right{
    float: right;
    width: 300px;
}
.left_rev{
    float: left;
    width: 50%;
}
.right_del{
    float: right;
    width: 50%;
}
.right a{
    text-decoration: none;
}
#data_list{
    list-style: none;
    padding:0; 
    margin:0;
}
#data_list li:nth-child(even){
    background-color: #F4DCAC;
}
#search_top{
    margin-top: 20px;
}