<link rel="stylesheet" type="text/css"href="{{ url_for('static',filename='css/store.css')}}">

{% extends "menu.html" %}

{% block cont %}
{% if data !=undefined %}
<h2>新增食品資料</h2>

<div id="con">
    
<div id="ttttt">
    
<div id="new">
<form method="post" action="{{url_for('newstore')}}">
    <button class="click_newbutton">新增店家及食品</button>
</form>
</div>
<div>
    <h3>已有店家</h3>
</div>
<div id="store">
<form method="post" action="{{url_for('insert_food_mess')}}">

    {% for i in data %}
       <div class="store_list">
           <div class="left">{{i}}</div><div class="right"><button class="click_button" name="store_name" type="submit" value="{{i}}">新增</button></div>
        </div>
        
    {% endfor %}
</form>
</div>

{% endif %}

</div>
</div>
</div>

{% endblock %}