
{% extends "menu.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/in_fd.css">
{% endblock css %}
{% block cont %}

<h1>新增成功</h1>
<div id="insert">
{% if data !=undefined %}
    {% for i,key in data.items() %}
    <div class="data_con"><div>{{ i }}</div><div>{{ key }}</div></div>
    
    <!--
        {% if key!="" %}
        <p>{{ i }}<span>{{ key }}</span></p>
        
        {% endif %}
    -->
    {% endfor %}

{% endif %}

<div id="back"><a href="{{ url_for('food') }}">返回</a></div>
</div>
{% endblock %}
