<!DOCTYPE html>
<html>
    <h2>您已登出！</h2>
    <div id="mess_fr">
        <div id="mess">
            <button id="click_home">登入</button>
        </div>
    </div> 
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="{{url_for('static', filename='js/logout.js')}}"></script>