<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/newpass.css') }}">
<h3>重設密碼</h3>
<div>
    <div>
        <input id="regmail" type="email" placeholder="請輸入註冊時的mail">
    </div>
    <div><button id="newpass_click">確認</button></div>
</div>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="{{url_for('static', filename='js/newpass.js')}}"></script>

