<style>
    .text_red{
        color: red;
    }
</style>
{% extends "menu.html" %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block cont %}
<h2>新增店家及食品資料</h2>
<h3><span class="text_red">*為必填</span></h3>
<div id="feedback"></div>
<p>店家名稱：<input><span class="text_red">*</span></p>
<p>食品中文名稱：<input name="name_zh"><span class="text_red">*</span></p>
<p>食品英文名稱：<input neme="name_en"></p>
<p>份量：<input></p>
<p>單位(不限)：<input></p>
<p>熱量(kcal):<input neme="kcal"><span class="text_red">*</span></p>
<p>蛋白質(g)：<input></p>
<p>飽和脂肪(g)：<input></p>
<p>反式脂肪(g)：<input></p>
<p>糖(g)：<input></p>
<p>鈉(mg)：<input></p>
<p>碳水化合物(g)：<input></p>
<p><button id="click">新增店家</button></p>

{% endblock %}
