{% extends "menu.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/rev_code.css">
{% endblock css %}
{% block cont %}
<h1>條碼資料修改成功</h1>
<div id="rev">


    {%for i in cd.keys()%}
    {%if cd[i] in data.keys()%}
    <div class="rev_cd">
        <div class="rev_con">
            <div>{{i}}：</div><div>{{data[cd[i]]}}</div>
        </div>
    </div>
    {%endif%}
    
    {%endfor%}
    
    
    <div id="con_block"><a href="{{ url_for('fd_code') }}">返回</a></div>
    </div>
{%endblock%}