<style>
    .text_red{
        color: red;
    }
</style>
{% extends "menu.html" %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block cont %}
<h2>新增食品資料</h2>
食物類別：<select>
    <option>
        吃
    </option>
    <option>
        喝
    </option>
</select>
{% if store_name !=undefined %}
    <p>店家名稱：<span>
        {{ store_name }}
    </span></p>
{% endif %}
<h5><span class="text_red">*為必填</span></h5>
<form name="form1" method="post" action="{{ url_for('insert_food') }}">
<p>食品中文名稱：<input name="name_zh"><span class="red">*<span id="name"></span></span></p>
<p>食品英文名稱：<input></p>
<p>份量(中文)：<input><span class="red">*<span id="sizetext"></span></span></p>
<p>份量(英文)：<input></p>
<p>單位(不限)：<input></p>
<p>熱量(kcal):<input name="kcal"><span class="red">*<span id="kcaltext"></span></span></p>
<p>蛋白質(g)：<input></p>
<p>飽和脂肪(g)：<input></p>
<p>反式脂肪(g)：<input></p>
<p>糖(g)：<input></p>
<p>鈉(mg)：<input></p>
<p>碳水化合物(g)：<input></p>
<p><button id="click">新增食品</button></p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/store_food.js') }}" type="text/javascript"></script>
{% endblock %}